*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,Helvetica,sans-serif;

background:#ffffff;

color:#111;

}

/* NAVIGATION */

nav{

position:fixed;

top:0;

left:0;

width:100%;

padding:20px 70px;

display:flex;

justify-content:space-between;

align-items:center;

background:white;

box-shadow:0 5px 20px rgba(0,0,0,.05);

z-index:1000;

}

.logo img{

height:60px;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

text-decoration:none;

font-weight:bold;

color:#111;

transition:.3s;

}

nav a:hover{

color:#ff6a00;

}

/* HERO */

.hero{

height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

}

.hero-text{

max-width:600px;

}

.hero-text h1{

font-size:70px;

line-height:80px;

}

.hero-text p{

font-size:22px;

margin:25px 0;

color:#666;

}

.shop-btn{

display:inline-block;

padding:18px 45px;

background:#111;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

}

.shop-btn:hover{

background:#ff6a00;

}

.hero-image img{

width:650px;

}
